#container {
    width: 60%;
    margin: 0 auto;
    border: 2px solid rgb(200, 200, 200);
}
#title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 20px;
}
#corp {
    font-size: 18px;
    font-weight: 700;
    margin: 18px 20px;
}
#year {
    display: flex;
    justify-content: right;
    background-color: black;
}
#year > span{
    display: block;
    width: 68px;
    height: 2em;
    font-size: 18px;
    color: #ffff;
    font-weight: 700;
    line-height: 2em;
    text-align: right;
    margin-right: 14px;
}
#content {
    padding: 10px 10px 30px 10px;
}
.item-title {
    font-size: 22px;
    color: rgb(53, 110, 175);
    margin: 10px 0;
    text-indent: .5em;
}
.item-name {
    display: flex;
    height: 2em;
    background-color: rgb(223, 223, 226);
    line-height: 2em;
    justify-content: space-between;
    font-size: 18px;
    text-indent: .6em;
}
.item-name .left {
    font-weight: 700;
}
.item-name .right {
    display: flex;
}
.item-name .right span {
    width: 68px;
    padding: 0 .4em;
    text-align: right;
}
.item-name .right .last {
    font-style: italic;
}
.describe {
    margin: 16px 0;
    text-indent: .6em;
}
.total {
    padding-top: 10px;
    background-color: #ffff;
    font-weight: 700;
}
.total:hover {
    background-color: rgb(153,201,255);
}
.double-line {
    width: 100%;
    height: 2px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}